---
title: Strona G&#322;&#243;wna
layout: default
background: '/img/bg-index.jpg'
---

{% if page.url == "/" %}
<div style="font-size: 12px;" class="rounded mb-5 hero">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-6">
            <h1 class="font-weight-bold mb-4 serif-font">Pozw&#243;l, &#380;e poka&#380;emy Ci co zrobi&#263; z pami&#261;tkami rodzinnymi!</h1>
            <p style="font-size: 12px;" class="lead mb-4 zwzt">&#379;ywe Archiwa to projekt spo&#322;eczny w ramach ZwzT dotycz&#261;cy archiwizacji cennych pami&#261;tek rodzinnych.</p>
            <a href="{{site.baseurl}}/about" class="btn text-white px-5 btn-lg btnr">O nas</a>
        </div>
    </div>
</div>
{% endif %}

<section class="row">
</section>
<section class="row">
    <div class="col-sm-12">
        <div class="row">
            {% for post in paginator.posts %}
            {% unless post.featured == true %}
            <div class="col-md-4 mb-5">
                {% include postbox.html %}
            </div>
            {% endunless %}
            {% endfor %}
        </div>
        
        <div class="bottompagination">
            <span class="navigation" role="navigation">
                {% include pagination.html %}
            </span>
        </div>
    </div>
    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>
</section>
